<nav class="navbar is-info has-shadow" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{ '/' | url }}">
        <span class="geco">gE.CO</span>
        &nbsp;
        <span>docs</span>
      </a>
    </div>
    <div class="navbar-menu">
      <div class="navbar-end">
        {% for page in collections.root | sortBy('data.title') %}
          {% if page.data.subpageTag and collections[page.data.subpageTag] %}
            <div class="navbar-item has-dropdown is-hoverable">
              <a href="{{ page.url }}" class="navbar-link">
                {{ page.data.title }}
              </a>

              <div class="navbar-dropdown">
                <a href="{{ page.url }}" class="navbar-item">
                  {{ page.data.indexTitle or page.data.title }}
                </a>
                <div class="navbar-divider"></div>
                {% for subPage in collections[page.data.subpageTag] | sortBy('data.title') %}
                  <a href="{{ subPage.url }}" class="navbar-item">
                    {{ subPage.data.title }}
                  </a>
                {% endfor %}
              </div>

            </div>
          {% else %}
            <a href="{{ page.url }}" class="navbar-item">
              {{ page.data.title }}
            </a>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</nav>
